mlflow 
dagshub
jupyterlab
hydra-core
python-dotenv
boto3
pickleshare
dvc[s3]
humanize
torch==2.3
torchvision==0.18.0
transformers==4.38.0
tensorboard==2.17
datasets==2.14.6
fsspec==2024.10.0 
gcsfs==2024.10.0
tensorflow==2.17.1
